<div class="auth">
	<div class="form-group">
		<div class="col-md-2">
			<label class="sr-only" for="name">Name</label>
			<input type="text" [(ngModel)]="name" id="name" class="form-control" aria-describedby="helpBlock" placeholder="Name">
		</div>
		<div class="col-md-2">
			<label class="sr-only" for="room">Room</label>
			<input type="text" [(ngModel)]="room" id="room" class="form-control" aria-describedby="helpBlock" placeholder="Room">
		</div>
		<div class="col-md-1">
			<button type="button" (click)="connect(name, room )" class="btn btn-info">Connect</button>
		</div>
		<div class="col-md-7">

		</div>
	</div>
	<div class="row">
		<span>{{error}}</span>
	</div>
</div>
<div class="chat">

	<div class="messages">
		<ul>
			<li *ngFor="let mes of messages">
				<span>{{mes.name}}:</span>
				<span>{{mes.text}}</span>
			</li>
		</ul>
	</div>
	<div class="sendMes">
		<div class="form-group">
			<div class="col-md-9">
				<label class="sr-only" for="inputHelpBlock">enter the text</label>
				<input type="text" [(ngModel)]="text_message" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
			</div>
			<div class="col-md-3">
				<button type="button" (click)="sendMessage(text_message)" class="btn btn-info" [disabled]="disabl">Send</button>
			</div>
		</div>
	</div>
</div>