<header>
    <div>
        <input class="btn btn-success" type="submit" value="Sign Up" (click)="createUser()" *ngIf="!auth">
        <input class="btn btn-success" type="submit" value="Sign In" (click)="userUp()" *ngIf="!auth">
    </div>
</header>


<router-outlet></router-outlet>