.auth{
    width: 100%;
    height: 80px;
}
.chat{
    width: 100%;
    padding: 20px 30%;;
    height: 700px;
}

.chat .messages {
    height: 90%;
    width: 100%;
    padding: 10px 40px; 
}

.chat .sendMes {
    width: 100%;
    height: 10%;
    padding: 10px 40px;
}

.chat .messages ul {
    list-style-type: none;
    margin: 0;
}

.chat .messages ul li{
    width: 100%;
    display: block;
    background-color: #2e6da4;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px 0;
}

.chat .messages ul li span {
    color: #fff;
}

